<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AlphaBlog</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Start Wrapper -->
  <div id="wrapper">
  
    <!-- Navigation -->
    <%= render 'layouts/navigation' %>
    
      <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">  
        
          <!-- Top navigation bar -->
         <%= render 'layouts/topnavbar' %>
         
          <%= render 'layouts/messages' %>  
          
          <!-- Main View -->
          <%= yield %>
          
          <!-- Footer -->
          <%= render 'layouts/footer' %>
        
        </div>    
        <!-- end page wrapper -->
        
  </div>
  <!-- End wrapper -->
</body>
</html>
